@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
  --font-archivo: "Archivo Black", sans-serif;
  --font-logo: "Macondo", cursive;
  --main-color: #0b0b0b;
  --card-color: #1a1a1a;
  --text-primary: #ffffff;
  --text-secondary: #b0b0b0;
  --text-muted: #7c7c7c;
  --text-highlight: #e50914;
  --border-color: #262626;
  --main-bg: #0e0e10;
  --card-bg: #1a1a1d;
}

@theme {
  --breakpoint-xs: 400px;
  --breakpoint-tab: 800px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.slick-slide > div {
  margin: 0 20px;
}

.slick-slide:first-child > div {
  margin-left: 0; /* Remove left margin from the first card */
  margin-right: 0;
}

.nav-dark {
  background-color: #0e0e10d3;
  
}

.nav-light {
  background-color: transparent;
}